@use 'vars';
@use 'mixins';

$id-card-width: vars.$sinner-card-width;
$id-card-width-mobile: vars.$sinner-card-width*2/3;
$id-card-height: 1.5*$id-card-width + 8px;
$id-card-height-mobile: 1.5*$id-card-width-mobile + 4px;

// Secret to allow scale transform without messing things up.
// 4px to allow for 2deg rotation for mad style.
$id-card-transform-factor: 1.1;
$id-card-margin: $id-card-height*($id-card-transform-factor - 1)/2 + 4px;

$id-costs-displacement: vars.pxToRem(30px);
$id-card-border: 2px solid vars.$board-light;

$button-margin: 2rem;
$button-margin-mobile: 1rem;


// The purpose of the separate board is just for the scrollbar
// - So it is inside the rounded corners.
.board {
  height: 100%;
  width: 100%;
  padding: 1rem;
  @media(max-width: vars.$mobile-screen) {
    padding: 0.5rem;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $button-margin;

  overflow: hidden;

  button {
    &:first-of-type {
      align-self: flex-end;
    }
    &:last-of-type {
      align-self: flex-start;
    }
  }
}

.container {
  @include mixins.orange-scrollbar;

  // Need max-h for scroll.
  max-height: calc(90vh - 2*vars.$button-h - 2*$button-margin);
  @media (max-width:vars.$mobile-screen) {
    max-height: calc(90vh - 2*vars.$button-h-mobile - 2*$button-margin-mobile);
  }
  width: 98%;
  @media (max-width: vars.$small-screen) {
    width: 94%;
  }
  padding-right: $id-costs-displacement + 0.1rem;

  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax($id-card-width + $id-card-margin/2, 1fr));
  gap: 3rem;

  overflow-x: hidden;
  overflow-y: auto;
}

.id-container {
  position: relative; // ref for absolutely positioned kids.
  margin: $id-card-margin;

  &:not(:focus, :hover, .active) {
    .id-container-left, .id-container-right {
      @include mixins.gray-filter;
    }
  }

  &:hover, &:focus {
    cursor: pointer;
    outline: none;
    transform: scale($id-card-transform-factor) rotate(-2deg);

    .id-container-left {
      @include mixins.highlight-effect;
    }
    .id-container-right {
      border: 2px solid vars.$orange-highlight;
    }
  }

  @media (max-width: vars.$mobile-screen) {
    margin: 0;

    &:hover, &:focus {
      transform: none;
    }
  }
}
.active {
  .id-container-left, .id-container-right {
    filter: none;
    &::after {
      opacity: 0;
    }
  }
}

.id-container-left {
  position: relative;  // ref for absolutely positioned kids.

  border-radius: 20px;
  border: $id-card-border;
  overflow: hidden;
}

.id-rarity {
  position: absolute;
  top: 4px;
  left: 4px;
  height: clamp(30px, 2vw, 45px);
  z-index: 1;
}

.id-image {
  display: block;
  width: $id-card-width;
  min-height: $id-card-height;
  @media(max-width: vars.$mobile-screen) {
    width: $id-card-width-mobile;
    min-height: 0;

    max-width: 100%;
  }

  object-fit: stretch;
}

.id-name {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;

  display: flex;
  justify-content: flex-end;

  background: linear-gradient(
    #FFFFFF00 0%,
    #{vars.$page-bg}BB 20%,
    #{vars.$page-bg}
  );

  p {
    width: 85%;
    min-width: 150px;
    padding: vars.pxToRem(8px);

    color: vars.$text-yellow;
    font-size: vars.pxToRem(20px);
    font-weight: bold;
    text-align: right;

    @media(max-width: vars.$mobile-screen) {
      font-size: vars.pxToRem(16px);
    }
  }
}

.id-container-right {
  position: absolute;
  top: 1%;
  right: - $id-costs-displacement;

  background: vars.$page-bg;

  border-radius: 20px;
  border: $id-card-border;

  div {
    display: flex;
    align-items: center;
    gap: 0.1rem;

    width: 100%;
    padding: 0.5rem 0.5rem;
  }

  img {
    width: 38px;
    @media(max-width: vars.$mobile-screen) {
      width: 28px;
    }
  }

  p {
    font-size: vars.pxToRem(18px);
    font-weight: bold;
    @media(max-width: vars.$mobile-screen) {
      font-size: vars.pxToRem(14px);
    }
  }
}