@use "vars";
@use "sass:math";

$profile-height: 120px;
$skill-height: 50px;

$item-bottom-border: 2px solid vars.$board-light;

// Aspect ratio to set for elems/imgs within the sinner card.
// To make sure they scale if the card gets wider.
@function getAspectRatio($elemHeight) {
  @return math.div(vars.$sinner-card-width, $elemHeight);
}

.container {
  position: relative;  // as ref for absolutely positoned elements within

  background: vars.$page-bg;
  border: 2px solid vars.$board-light;
  border-radius: 10px;

  overflow: hidden;
}

.selected {
  border: 4px solid vars.$orange-highlight;
}

.sinner-rarity {
  position: absolute;
  top: 2px;
  left: 2px;
}

.sinner-img {
  display: block;
  width: 100%;
  aspect-ratio: getAspectRatio($profile-height);

  object-position: center 10%;
  object-fit: cover;

  border-bottom: $item-bottom-border;
}

.checkbox {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 15%;
  aspect-ratio: 1;

  font-size: vars.pxToRem(55px);
  line-height: 0px; // Needed so aspect-ratio works.

  border: 2px solid vars.$board-light;
  border-radius: 4px;

  &:checked {
    border: 2px solid vars.$blood-red;
  }
}

.skill-container {
  // Create new stacking context for mix-blending.
  position: relative;
  z-index: 1;

  width: 100%;
  padding-right: vars.pxToRem(10px);
  aspect-ratio: getAspectRatio($skill-height);

  display: flex;
  gap: vars.pxToRem(2px);
  align-items: center;
}

.base {
  min-width: vars.pxToRem(30px);
  font-size: vars.pxToRem(20px);
  text-align: right;
}
.plus {
  min-width: vars.pxToRem(30px);
  font-size: vars.pxToRem(18px);
}
.activation {
  font-size: vars.pxToRem(16px);
}
.multiply {
  font-size: vars.pxToRem(20px);
}

.coins-div {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;

  height: 100%;
  margin-left: vars.pxToRem(12px);
}

.passive-div {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 2px;

  aspect-ratio: 1;
  height: 100%;

  white-space: pre-wrap;

  img {
    aspect-ratio: 1;
    height: 70%;
    margin-right: 2px;
  }
}
