@use "vars";
@use "sass:math";

$profile-height: 90px;
$skill-height: 36px;
$passive-height: 28px;

$item-border: 2px solid vars.$board-light;

.container {
  position: relative;  // as ref for absolutely positoned elements within

  background: vars.$page-bg;
  border: 2px solid vars.$board-light;
  border-radius: 10px;

  overflow: hidden;
}

.selected {
  border: 2px solid vars.$orange-highlight;
}

/*********************************************
 * Sinner Profile
 ********************************************/

.sinner-rarity {
  position: absolute;
  top: 2px;
  left: 2px;
  height: clamp(30px, 2.5vw, 60px);
}

.sinner-img {
  display: block;
  width: 100%;
  aspect-ratio: vars.getSinnerCardAspectRatio($profile-height);

  object-position: center 15%;
  object-fit: cover;

  border-bottom: $item-border;

  &:hover {
    cursor: pointer;
  }
}

.checkbox {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 15%;
  aspect-ratio: 1;

  font-size: clamp(vars.pxToRem(50px), 4vw, vars.pxToRem(80px));
  line-height: 0px; // Needed so aspect-ratio works.

  border: 2px solid vars.$board-light;
  border-radius: 4px;

  &:checked {
    border: 2px solid vars.$blood-red;
  }
}

/*********************************************
 * Skills
 ********************************************/

.skill-row {
  display: flex;
  justify-content: stretch;
  width: 100%;
  aspect-ratio: vars.getSinnerCardAspectRatio($skill-height);

  font-size: vars.pxToRem(17px);
}

.skill-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-of-type {
    flex-grow: 3;
    margin-left: 5%;
  }
  &:nth-of-type(2) {
    flex-grow: 2;
  }
  &:nth-of-type(3) {
    flex-grow: 1;
    margin-right: 5%;
  }

  height: 100%;
}

.skill-container-icons {
  position: relative;  // only as ref for absolutely positioned elems.
  height: 100%;

  display: flex;
  align-items: center;
}

.skill-affinity-icon {
  height: 80%;
  aspect-ratio: 1;
  z-index: 2;
}
.stack-1 {
  position: absolute;
  right: 25%;
  z-index: 1;
}
.stack-2 {
  position: absolute;
  right: 50%;
  z-index: 0;
}

.hex {
  height: 50%;
  position: absolute;
  top: 50%;
  right: -15%;
  z-index: 3;
}

/********************************************
 * Passives
 *******************************************/

.passive-row {
  display: flex;
  width: 100%;
  aspect-ratio: vars.getSinnerCardAspectRatio($passive-height);
}

.passive-div {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

  font-size: vars.pxToRem(14px);

  border-top: $item-border;
  &:first-of-type {
    border-right: $item-border;
  }

  img {
    height: 80%;
    aspect-ratio: 1;
  }
}

.passive-insufficient {
  color: vars.$grey;

  img {
    filter: grayscale(0.75);
  }
}