@use "vars";
@use "mixins";
@use "sass:math";

$profile-height: 90px;
$skill-height: 36px;
$passive-height: 28px;

$item-border: 2px solid vars.$board-light;

.container {
  position: relative;  // as ref for absolutely positoned elements within

  background: vars.$page-bg;
  border: 2px solid vars.$board-light;
  border-radius: 10px;

  overflow: hidden;
}
.selected {
  border: 4px solid vars.$blood-red;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    border: 2px solid vars.$blood-red;
  }
}

.top-container {
  @include mixins.hover-focus-highlight(true);
  position: relative;
}
.not-selected {
  &:not(:hover, :focus, :active) {
    .skill-row, .sinner-img-container {
      @include mixins.gray-filter;
    }
  }
}


/*********************************************
 * Sinner Profile
 ********************************************/

.sinner-rarity {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: vars.$before-highlight-border-z - 1;
  height: clamp(30px, 2.5vw, 60px);
}

.checkbox {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: vars.$before-highlight-border-z + 1;

  width: 20%;
  aspect-ratio: 1;

  font-size: clamp(vars.pxToRem(55px), 4.2vw, vars.pxToRem(90px));
  @media (max-width: vars.$mobile-screen) {
    font-size: 70px;
  }
  line-height: 0px; // Needed so aspect-ratio works.

  border: 2px solid vars.$board-light;
  border-radius: 4px;

  &:checked {
    border: 2px solid vars.$blood-red;
  }

  &:hover, &:focus {
    outline: none;
    border: 4px solid vars.$orange-highlight;
    &::after {
      content: "✘";
      color: #{vars.$orange-highlight}80;
    }
  }
}

.sinner-img-container {
  position: relative;
  border-bottom: $item-border;
}

.sinner-img {
  display: block;
  width: 100%;
  aspect-ratio: vars.getSinnerCardAspectRatio($profile-height);

  object-position: center 15%;
  object-fit: cover;

  &:hover {
    cursor: pointer;
  }
}

.sinner-name {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 5% 1% 2%;

  background: linear-gradient(
    #FFFFFF00 0%,
    #{vars.$page-bg}BB 50%,
    #{vars.$page-bg}
  );

  p {
    position: relative;
    left: 20%;
    width: 80%;

    color: vars.$text-yellow;
    font-size: vars.pxToRem(18px);
    font-weight: bold;
    text-align: right;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


/*********************************************
 * Skills
 ********************************************/

.skill-row {
  display: flex;
  justify-content: stretch;
  width: 100%;
  aspect-ratio: vars.getSinnerCardAspectRatio($skill-height);

  font-size: vars.pxToRem(17px);
}

.skill-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-of-type {
    flex-grow: 3;
    margin-left: 5%;
  }
  &:nth-of-type(2) {
    flex-grow: 2;
  }
  &:nth-of-type(3) {
    flex-grow: 1;
    margin-right: 5%;
  }

  height: 100%;
}

.skill-container-icons {
  position: relative;  // only as ref for absolutely positioned elems.
  height: 100%;

  display: flex;
  align-items: center;
}

.skill-affinity-icon {
  height: 80%;
  aspect-ratio: 1;
  z-index: 2;
}
.stack-1 {
  position: absolute;
  right: 25%;
  z-index: 1;
}
.stack-2 {
  position: absolute;
  right: 50%;
  z-index: 0;
}

.hex {
  height: 50%;
  position: absolute;
  top: 50%;
  right: -15%;
  z-index: 3;
}

/********************************************
 * Passives
 *******************************************/

.passive-row {
  display: flex;
  width: 100%;
  aspect-ratio: vars.getSinnerCardAspectRatio($passive-height);
}

.passive-div {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

  font-size: vars.pxToRem(14px);

  border-top: $item-border;
  &:first-of-type {
    border-right: $item-border;
  }

  img {
    height: 80%;
    aspect-ratio: 1;
  }
}

.passive-insufficient {
  @include mixins.gray-filter;
}