@use 'vars';


.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative; // ref for absolutely positoned images.
  height: 100%;
  aspect-ratio: 1;
}

.hexagon {
  height: 100%;
}

.skill {
  position: absolute;
  height: 75%;

  z-index: 1;
}
