@use 'vars';

// Mixins
// - Prefer mixin instead of something in globals if there a tendency
//   to override something from the mixin a little bit or
//   add a little extra (easier to read in the css file).
@mixin hover-focus-highlight($before-border: false) {
  &:hover, &:focus {
    cursor: pointer;
    outline: none;

    @include highlight-effect;

    @if $before-border == true {
      @include highlight-before-border;
      border: none;
    }
  }
}

@mixin highlight-before-border {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 4px solid vars.$orange-highlight;

    z-index: vars.$before-highlight-border-z;
  }
}

@mixin highlight-effect {
  color: vars.$orange-highlight;
  border: 2px solid vars.$orange-highlight;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: vars.$orange-highlight;
    opacity: 0.3;
    mix-blend-mode: overlay;

    // Prefer mix-blend-mode otherwise you get "pointy corners"
    // if element has border-radius.
    @supports not (mix-blend-mode: overlay) {
      opacity: 0.15;
      background: vars.$orange-highlight;
    }

  }
}

@mixin gray-filter {
  filter: grayscale(0.8);

  // Grayscale is what we actually want.
  // Overlay is for old brows.
  @supports not (filter: grayscale(1)) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      opacity: 0.66;
      background: vars.$grey;
    }
  }
}
