// This is a partial file for global constants and helpers.
@use 'sass:math';

// Color
$page-bg: #171511;
$board-bg: #331E15;
$board-light: #A3703F;

$grey: #808080;
$blood-red: #880808;

$wrath: #EE1D1D;
$lust: #BA5320;
$sloth: #CAC202;
$gluttony: #43762F;
$gloom: #0BE4E4;
$pride: #4040E5;
$envy: #D00DD0;

$text-brown: #DDC3A1;
$text-yellow: #FBC500;
$orange-highlight: #FE8C01;

// Sizes
$sinner-card-width: 200px;

// Breakpoints
$large-screen: 2560px;
$mobile-screen: 720px;

// Helpers
@function pxToRem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}
