@use 'vars';
@use 'normalize.css/normalize.css';


/**
 * Reset/Defaults.
 */
html,
body {
  padding: 0;
  margin: 0;

  color: vars.$text-brown;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: vars.$page-bg;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, ul, ol, menu {
  margin: 0;
  padding: 0;
}

ol, ul, menu {
  list-style-type: none
}

input[type="checkbox"] {
  appearance: none;

  display: grid;
  place-content: center;
  margin: 0;

  color: vars.$blood-red;
  background-color: vars.$page-bg;;
}
input[type="checkbox"]::before {
  content: "✘";
  transform: scale(0);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}

* {
  box-sizing: border-box;
}


/**
 * Global reusable.
 */
.board {
  background: vars.$board-bg;
  border: 2px solid vars.$board-light;
  border-radius: 20px;
}
.board-dark {
  @extend .board;
  background: vars.$page-bg;
}

$scrollbar-w: 6px;
$scrollbar-w-mobile: 3px;

.sleek-scrollbar {
  /* Foreground, Background */
  scrollbar-color: vars.$orange-highlight vars.$grey;

  &::-webkit-scrollbar {
    width: $scrollbar-w;
  }
  &::-webkit-scrollbar-thumb { /* Foreground */
    border-radius: $scrollbar-w;
    background: vars.$orange-highlight;
  }
  &::-webkit-scrollbar-track { /* Background */
    border-radius: $scrollbar-w;
    background: vars.$grey;
  }

  @media (max-width: vars.$small-screen) {
    &::-webkit-scrollbar {
      width: $scrollbar-w-mobile;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: $scrollbar-w-mobile;
    }
    &::-webkit-scrollbar-track {
      border-radius: $scrollbar-w-mobile;
    }
  }
}
