@use 'vars';
@use 'normalize.css/normalize.css';

html,
body {
  padding: 0;
  margin: 0;

  color: vars.$text-brown;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: vars.$page-bg;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, ul, ol, menu {
  margin: 0;
  padding: 0;
}

ol, ul, menu {
  list-style-type: none
}

input[type="checkbox"] {
  appearance: none;

  display: grid;
  place-content: center;
  margin: 0;

  color: vars.$blood-red;
  // font-size: vars.pxToRem(20px);

  background-color: vars.$page-bg;;
}
input[type="checkbox"]::before {
  content: "✘";
  transform: scale(0);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}

* {
  box-sizing: border-box;
}
