@use 'vars';

$sinner-card-gap: 8px;

.main {
  margin: 0 40px;
  max-width: vars.$large-screen;
  @media (min-width: (vars.$large-screen + 1px)) {
    margin: 0 auto;
  }
  @media (max-width: vars.$small-screen) {
    margin: 0 12px;
  }
}

.sinner-board {
  display: grid;
  grid-template-columns:
    repeat(auto-fit,
      minmax(
        max(vars.$sinner-card-width, (100% - 5*$sinner-card-gap)/6),
        1fr
      )
    );
  grid-gap: $sinner-card-gap;

  padding: 10px;
}
