@use 'vars';

$sinner-card-gap: 5px;

.main {
  margin: 0 28px;
  @media (min-width: (vars.$large-screen + 1px)) {
    margin: 0 auto;
    max-width: vars.$large-screen;
  }
  @media (max-width: vars.$mobile-screen) {
    margin: 0 12px;
  }
}

.board-container {
  display: grid;
  grid-template-columns:
    repeat(auto-fit,
      minmax(
        max(vars.$sinner-card-width, (100% - 5*$sinner-card-gap)/6),
        1fr
      )
    );
  grid-gap: $sinner-card-gap;
}
