@use 'vars';

.main {
  margin: 0 40px;
  max-width: vars.$large-screen;
  @media (min-width: (vars.$large-screen + 1px)) {
    margin: 0 auto;
  }
  @media (max-width: vars.$small-screen) {
    margin: 0 12px;
  }
}
